/**************************************
  FONT FACES
**************************************/

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Book.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Medium.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Black.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(fonts/Pacifico.ttf) format("truetype");
  font-style: normal;
}

/**************************************
  COLOR PALETTE
**************************************/

.about-color {
  color: #02A8F3;
  stroke: #02A8F3;
}

.design-color {
  color: #E71E63;
  stroke: #E71E63;
}

.project-color {
  color: #8AC440;
  stroke: #8AC440;
}

.contact-color {
  color: #FCC011;
  stroke: #FCC011;
}

/**************************************
  GENERAL CONTENT
**************************************/

body {
  font-family: "Gotham";
  background-color: #eaeaea;
  margin: 0;
}

#container {
  margin-top: 76px;
}

.display {
  background-color: #eaeaea;
  width: 100%;
  height: auto;
  float: left;
  height: 0px;
  margin: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**************************************
  HEADER
**************************************/

#header {
  background-color: white;
  width: 100%;
  position: fixed;
  margin-top: -76px;
  z-index: 99;
}

#logo {
  width: 100%;
  height: 48px;
  margin-top: 12px;
}

a {
  color: #FCC011;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

a:hover {
  color: #121725;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 76px;
  text-align: center;
  float: left;

  -webkit-transition: background-color 0.25s, color 0.25s;
  -moz-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

li:hover {
  background-color: #1f2432;
  color: white;

  -webkit-transition: background-color 0.25s, color 0.25s;
  -moz-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

#about-li:hover {
  color: #02A8F3;
}

#design-li:hover {
  color: #E71E63;
}

#project-li:hover {
  color: #8AC440;
}

#contact-li:hover {
  color: #FCC011;
}

#header a {
  text-decoration: none;
  color: #555555;
  font-size: 16px;
}

#title-link {
  font-family: "Pacifico";
  font-size: 32px !important;
  color: #555555;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

#title-li {
  padding-top: 4px;
  padding-bottom: 12px;
}

#title-li:hover {
  color: #eaeaea;
}

#title-li:hover .underline {
  width: 100%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.hint {
  font-size: 8px;
  font-family: "Gotham";
  font-weight: 600;
  display: block;
  margin-top: -10px;
}

.underline {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 5px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.underline span {
  float: left;
  width: 25%;
  height: 100%;
  height: 5px;
}

.underline .about {
  background-color: #02A8F3;
}

.underline .design {
  background-color: #E71E63;
}

.underline .project {
  background-color: #8AC440;
}

.underline .contact {
  background-color: #FCC011;
}


/**************************************
  BLOCKS
**************************************/

.block {
  width: 25%;
  height: 25vw;
  background-color: #eaeaea;
  float: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.block:hover {
  /* background-color: #121725; */
  background-color: #1f2432;
  overflow: hidden;

  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.block:hover .number, .block:hover .title {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  color: #02A8F3;
}

.block-about:hover .title  {
  color: #02A8F3;
}

.block-design:hover .title  {
  color: #E71E63;
}

.block-project:hover .title  {
  color: #8AC440;
}

.block-contact:hover .title  {
  color: #FCC011;
}

.title {
  text-align: center;
  font-size: 12px;
  color: #555555;
  letter-spacing: 4px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

/**************************************
  ANIMATION
**************************************/

.icon {
  width: 50%;
  height: 12vw;
  display: block;
  margin: 0 auto;
  margin-top: calc(12.5vw - 6.5vw - 12px);
}

.icon-animate {
  margin: 0 auto !important;
  height: 40vh !important;
  padding-top: calc(50vh - 20vh - 20px);
}

.icon-scroll {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  margin-top: 11vh;
}

.icon-scroll path {
  webkit-transition: stroke 0.75s;
  -moz-transition: stroke 0.75s;
  transition: stroke 0.75s;
}

.icon-scroll:hover path {
  stroke: #eaeaea;
  webkit-transition: stroke 0.75s;
  -moz-transition: stroke 0.75s;
  transition: stroke 0.75s;
}

path {
  -webkit-transition: stroke 0.25s;
  -moz-transition: stroke 0.25s;
  transition: stroke 0.25s;
}

/* for changing color of the path on hover
.block:hover path, .block:hover line {
  stroke: #02A8F3;

  -webkit-transition: stroke 0.25s;
  -moz-transition: stroke 0.25s;
  transition: stroke 0.25s;
} */

.block:hover .icon, .icon-animate, .icon-scroll:hover {
  stroke-dasharray: 100;
  animation: dash 5s infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/**************************************
  CONTENT PAGES 
**************************************/

#loaded {
  width: 100%;
  height: 100vh;
  position: fixed;
}

#load-content {
  height: 100vh;
  overflow: hidden;
}

#header-alt {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 76px;
  position: fixed; 
  z-index: 98;
}

.back-button {
  display: block;
  color: #eaeaea;
  margin-left: 38px;
  margin-top: 38px;
  width: 64px;
}

.back-button:hover {
  color: #555555;
}

.splash {
  background-color: #1f2432;
  width: 100%;
  height: 100vh;
  margin-bottom: 75px;
}

h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
  color: #02A8F3;
  letter-spacing: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  width: 100%;
  padding-left: 0px;
  border-left: 0px solid #555555;
  color: #555555;
  font-weight: 200;
  line-height: 200%;
  margin-bottom: 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.caption {
  font-weight: 200;
  font-size: 12px;
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: -65px;
  margin-bottom: 75px;
}

.blurb {
  width: 100%;
  text-align: center;
  color: #02A8F3;
  font-weight: 200;
  font-size: 9px;
  margin-top: 2vh;
}

.img {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 5px solid #e2e2e2;
  margin-bottom: 75px;
}

.img-small {
  width: 20%;
}

.img-large {
  width: 40%;
}

.img-pair {
  width: calc(80% + 30px);
  margin: 0 auto;
  overflow: hidden;
}

.img-pair img {
  width: calc(50% - 15px);
  float: left;
}

.img-pair .left {
  margin-right: 10px;
}

.link-container {
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 75px;
  text-align: center;
}

.elevator:hover {
  color: #555555;
}

.elevator-container {
  background-color: #1f2432;
  width: 100%;
  padding: 75px;
  box-sizing: border-box;
}

.elevator-container .elevator {
  margin: 0 auto;
}

.text-container {
  width: 50%;
  display: block;
  margin: 0 auto;
}

/**************************************
  MEDIA QUERIES 
**************************************/

@media screen and (min-width: 1400px) {
  .block {
    width: 20%;
    height: 20vw;
  }

  .icon {
    margin-top: calc(10vw - 6.5vw - 12px);
  }
}

@media screen and (max-width: 1100px) {
  .block {
    width: 33.33%;
    height: 33.33vw;
  }

  .icon {
    height: 14vw;
    margin-top: calc(16.67vw - 7vw - 12px);
  }
}

@media screen and (max-width: 800px) {
  .block {
    width: 50%;
    height: 50vw;
  }

  .icon {
    height: 18vw;
    margin-top: calc(25vw - 9.5vw - 12px);
  }

  #about-link, #design-link, #project-link, #contact-link {
    display: none;
  }

  #title-li {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .block {
    width: 100%;
    height: 100vw;
  }

  .icon {
    height: 60vw;
  }

  h1 {
    width: 90%;
    margin-top: -20px;
  }

  .caption {
    width: 85%;
  }

  .img, .text-container {
    width: 85%;
  }

  .img-pair {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
  }

  .img-pair img {
    width: 100%;
    float: left;
  }

  .img-pair .left {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}