@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Book.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Medium.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Black.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(fonts/Pacifico.ttf) format("truetype");
  font-style: normal;
}

body {
  font-family: "Gotham";
  background-color: #eaeaea;
  margin: 0;
}

#header {
  background-color: white;
  width: 100%;
  position: fixed;
  margin-top: -76px;
}

a {
  color: #00bbd3;
  text-decoration: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

a:hover {
  color: #2f2f2f;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  float: left;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

li:hover {
  background-color: #00bbd3;
  color: white;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

#header a {
  text-decoration: none;
  color: #555555;
  font-size: 16px;
}

#title-li {
  padding-top: 4px;
  padding-bottom: 12px;
}

#title-li:hover {
  background-color: white;
}

#title-link {
  font-family: "Pacifico";
  font-size: 32px !important;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

#title-link:hover {
  color: #00bbd3;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.block {
  width: 25%;
  height: 25vw;
  background-color: #eaeaea;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.alt {
  background-color: #e2e2e2;
}

.block:hover {
  background-color: #00bbd3;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.block:hover .number, .block:hover .title {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  color: #eaeaea;
}

#container {
  margin-top: 76px;
}

.number {
  font-size: 96px;
  font-weight: 500;
  color: #555555;
  text-align: center;
  padding-top: 8vw;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.title {
  text-align: center;
  font-size: 12px;
  color: #555555;
  letter-spacing: 4px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.display {
  background-color: #eaeaea;
  width: 100%;
  height: calc(100vh - 76px);
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 96px;
  font-weight: 400;
  width: 50%;
  margin-left: 5%;
  float: left;
  color: #2f2f2f;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  float: left;
  width: 45%;
  padding-left: 18px;
  border-left: 3px solid #555555;
  color: #555555;
  font-weight: 200;
  line-height: 150%;
  margin-left: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#loaded {
  width: 100%;
  height: 100vh;
}