/**************************************
  FONT FACES
**************************************/

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Light.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Book.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Medium.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url(fonts/Gotham-Black.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url(fonts/Pacifico.ttf) format("truetype");
  font-style: normal;
}

/**************************************
  COLOR PALETTE
**************************************/

.about-color {
  color: #D98B3A;
  stroke: #D98B3A;
}

.design-color {
  color: #E71E63;
  stroke: #E71E63;
}

.project-color {
  color: #D6523C;
  stroke: #D6523C;
}

.contact-color {
  color: #FCC011;
  stroke: #FCC011;
}

/**************************************
  GENERAL CONTENT
**************************************/

body {
  font-family: "Gotham";
  background-color: #eaeaea;
  margin: 0;
}

#container {
  width: 80%;
  margin: 0 auto;
  margin-top: 78px;
  text-align: center;
  overflow: hidden;
  padding: 0 2px;
  box-sizing: border-box;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.display {
  background-color: #eaeaea;
  width: 100%;
  height: auto;
  float: left;
  height: 0px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**************************************
  HEADER
**************************************/

#header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 76px;
}

#logo {
  width: 100%;
  height: 48px;
  margin-top: 12px;
}

a {
  text-decoration: none;
  -webkit-transition: opacity 0.25s, color 0.25s;
  -moz-transition: opacity 0.25s, color 0.25s;
  transition: opacity 0.25s, color 0.25s;
}

a:hover {
  color: #555555;
  -webkit-transition: opacity 0.25s, color 0.25s;
  -moz-transition: opacity 0.25s, color 0.25s;
  transition: opacity 0.25s, color 0.25s;
}


.header-container {
  width: 80%;
  height: 76px;
  margin: 0 auto;
  position: relative;
  padding: 0 4px;
  box-sizing: border-box;
}

.logo {
  font-weight: 100;
  font-size: 24px;
  float: left;
  margin-top: 24px;
  color: #555555;
}

.logo b {
  font-weight: 300;
}

nav {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

nav li {
  list-style: none;
  display: inline-block;
  margin-left: 24px;
}

nav li a {
  color: #555555;
  font-weight: 300;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

nav li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 4px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

nav li a:hover::after,
nav li a.active::after {
  width: 100%;
}

nav li a#all-link:hover,
nav li a#all-link.active {
  color: #2f2f2f;
}

nav li a#all-link::after {
  background-color: #2f2f2f;
}

nav li a#code-link:hover,
nav li a#code-link.active {
  color: #DA635D;
}

nav li a#code-link::after {
  background-color: #DA635D;
}

nav li a#design-link:hover,
nav li a#design-link.active {
  color: #B1938B;
}

nav li a#design-link::after {
  background-color: #B1938B;
}

nav li a#info-link:hover,
nav li a#info-link.active {
  color: #4E4E56;
}

nav li a#info-link::after {
  background-color: #4E4E56;
}

.hamburger-container {
  display: none;
  width: 32px;
  height: 32px;
  margin: 22px 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 4px;
  background-color: white;

  -webkit-transition: background-color 0.25s, color 0.25s;
  -moz-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.hamburger-container path {
  -webkit-transition: all 0.25s, color 0.25s;
  -moz-transition: all 0.25s, color 0.25s;
  transition: all 0.25s, color 0.25s;
}

.hamburger-container:hover path:nth-child(1) {
  fill: #DA635D;
  stroke: #DA635D;
}

.hamburger-container:hover path:nth-child(2) {
  fill: #B1938B;
  stroke: #B1938B;
}

.hamburger-container:hover path:nth-child(3) {
  fill: #4E4E56;
  stroke: #4E4E56;
}

.hamburger {
  width: 100%;
  height: 100%;
}

/**************************************
  BLOCKS
**************************************/

.block {
  width: calc(25% - 4px);
  margin: 2px;
  height: 0;
  padding-top: calc(25% - 4px);
  background-color: #eaeaea;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.block::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0%;
  padding-top: 0%;
  border-radius: 50%;
  background-color: #43353D;
  background-color: #2f2f2f;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.block.block-code {
  background-color: #DA635D;
}

.block.block-design {
  background-color: #B1938B;
}

.block.block-info {
  background-color: #4E4E56;
}

.block:hover {
  overflow: hidden;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.block:hover::before {
  width: 150%;
  padding-top: 150%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.title {
  text-align: center;
  font-size: 0px;
  color: white;
  letter-spacing: 4px;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;

  position: absolute;
  bottom: 12%;
  width: 100%;

}

.block:hover .title {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  color: white;
  font-size: 12px;

}

#container.sidebar {
  width: 100px;
  position: fixed;
  left: 0;
  top: -2px;
  overflow: scroll;
  height: calc(100vh - 76px);
  padding: 0;
}

#container.sidebar::-webkit-scrollbar { 
  width: 0px;
}

#container.sidebar .block {
  width: 100%;
  padding-top: 100%;
  margin: 0;
}

#container.sidebar .block:hover .title {
  font-size: 0px;
}


/**************************************
  ANIMATION
**************************************/

.icon {
  width: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.icon-animate {
  margin: 0 auto !important;
  height: 40vh !important;
  padding-top: calc(50vh - 20vh - 20px);
}

.icon-scroll {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: 12vh;
}

.icon-scroll path, .icon-scroll line {
  webkit-transition: stroke 0.75s;
  -moz-transition: stroke 0.75s;
  transition: stroke 0.75s;
}

.icon-scroll:hover path, .icon-scroll:hover line {
  stroke: #eaeaea;
  webkit-transition: stroke 0.75s;
  -moz-transition: stroke 0.75s;
  transition: stroke 0.75s;
}

path {
  -webkit-transition: stroke 0.25s;
  -moz-transition: stroke 0.25s;
  transition: stroke 0.25s;
}

.block:hover .icon, .icon-animate {
  stroke-dasharray: 100;
  animation: dash 5s infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/**************************************
  CONTENT PAGES 
**************************************/

#loaded {
  width: 100%;
  height: 100vh;
  position: fixed;
}

#load-content {
  height: 100vh;
  overflow: hidden;
}

#header-alt {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 76px;
  position: fixed; 
  z-index: 98;
}

.back-button {
  display: block;
  margin-left: 38px;
  margin-top: 38px;
  width: 64px;
  opacity: 0.9;
}

.splash {
  background-color: #1f2432;
  width: 100%;
  height: 100vh;
  margin-bottom: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.splash.about {
  background-image: url("images/about-bg.png");
}

.splash.watwhenwhere {
  background-image: url("images/watwhenwhere-bg.png");
}

.splash.planner {
  background-image: url("images/planner-bg.png");
}

.splash.transference {
  background-image: url("images/transference-bg.png");
}

.splash.predictable {
  background-image: url("images/predictable-bg.png");
}

.splash.logogen {
  background-image: url("images/logogen-bg.png");
}

.splash.fiverr {
  background-image: url("images/fiverr-bg.png");
}

.splash.contact {
  background-image: url("images/contact-bg.png");
}

h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
  color: #D98B3A;
  letter-spacing: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  width: 100%;
  padding-left: 0px;
  border-left: 0px solid #555555;
  color: #555555;
  font-weight: 200;
  line-height: 200%;
  margin-bottom: 75px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.caption {
  font-weight: 200;
  font-size: 12px;
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: -65px;
  margin-bottom: 75px;
}

.blurb {
  width: 100%;
  text-align: center;
  color: #D98B3A;
  font-weight: 200;
  font-size: 9px;
  margin-top: 2vh;
}

.img {
  display: block;
  width: 50%;
  margin: 0 auto;
  border: 5px solid #e2e2e2;
  margin-bottom: 75px;
}

.img-small {
  width: 20%;
}

.img-large {
  width: 40%;
}

.img-pair {
  width: calc(80% + 30px);
  margin: 0 auto;
  overflow: hidden;
}

.img-pair img {
  width: calc(50% - 15px);
  float: left;
}

.img-pair .left {
  margin-right: 10px;
}

.link-container {
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 75px;
  text-align: center;
}

.elevator:hover {
  color: #555555;
}

.elevator-container {
  background-color: #1f2432;
  width: 100%;
  padding: 75px;
  box-sizing: border-box;
}

.elevator-container .elevator {
  margin: 0 auto;
}

.text-container {
  width: 50%;
  display: block;
  margin: 0 auto;
}

/**************************************
  MEDIA QUERIES 
**************************************/

@media screen and (min-width: 1400px) {
  .block {
    width: calc(20% - 4px);
    padding-top: calc(20% - 4px);
  }
}

@media screen and (max-width: 1100px) {
  .block {
    width: calc(33.3333% - 4px);
    padding-top: calc(33.3333% - 4px);
  }
}

@media screen and (max-width: 800px) {
  #container {
    width: 85%;
  }

  .block {
    width: calc(50% - 4px);
    padding-top: calc(50% - 4px);
  }

  .header-container {
    width: 85%;
  }

  .hamburger-container {
    display: inline-block;
    z-index: 21;
  }

  #header nav {
    position: fixed;
    top: 46px;
    width: 100%;
    left: 0;
    overflow: hidden;
  }

  #header nav li {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  #header nav li a {
    display: block;
    padding: 24px 0;
    color: white;
    webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    transition: all 0.75s;
  }

  #header nav li a:hover,
  #header nav li a.active {
    background-color: white;
  }

  #header nav li a::after {
    display: none;
  }

  #all-link {
    background-color: #2f2f2f;
  }  

  #code-link {
    background-color: #DA635D;
  }

  #design-link {
    background-color: #B1938B;
  }

  #info-link {
    background-color: #4E4E56;
  }

}

@media screen and (max-width: 500px) {
  #container {
    width: 90%;
  }

  .block {
    width: calc(100% - 4px);
    padding-top: calc(100% - 4px);
  }

  .header-container {
    width: 90%;
  }
}